<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="events.settings">
            <section name="smtp" type="Config.Library.Configuration.SmtpSection, Config.Library"/>
            <section name="output" type="Config.Library.Configuration.OutputSection, Config.Library"/>
        </sectionGroup>
    </configSections>

    <events.settings>
        <smtp from="Annual TB Compliance &lt;exposureevent@nmh.org&gt;" reply="Exposure Event &lt;annualtbtest@nmh.org&gt;">
            <mode test="true" email="Action System Test Account &lt;nmh@action-systems.com&gt;;" />
            <user name="nmh0rg@kai-datapipe-nmh.com" password="nmhdpnet-1"/>
            <server smtp="mail.kai-datapipe-nmh.com" authenticate="true"/>
        </smtp>

        <output path="G:\Coding\Web-Config\docs\files">
            <mailing name="ebola">
                <content content="templates\exposure-follow-up.xslt" subject="70-Day TB Exposure Follow Up" />
                <recipients to="NMH Exposure Events &lt;exposureevent@nmh.org&gt;" cc="workcomp@nmh.org;safemgmt@nmh.org" bcc="chnotify@nmh.org;" />
                <schedule runtime="5.2" delay="30000" immediately="true" />
                <attachment name="instructions" file="attachments\instructions.pdf" />
                <attachment name="policy" file="attachments\policy.pdf" />
            </mailing>
        </output>

    </events.settings>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
